<% var title = "Login"; %>

<h1>Login</h1>

<% if (error) { %>
  <p class="error"><%= error %></p>
<% } %>

<form method="POST" action="/login" class="card formCard">
  <label>Email</label>
  <input name="email" required />

  <label>Password</label>
  <input name="password" type="password" required />

  <button class="btn" type="submit">Login</button>

  <p class="muted small">
    Demo logins: <br>
    admin@demo.com / admin123 <br>
    faculty@demo.com / fac123 <br>
    student@demo.com / stu123
  </p>
</form>
